label{
  font-family: 'Roboto Slab', serif;
}

#main{
	width: 1000px;
	height: 500px;
	margin-top: 50px;
}

#main h1{
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
}

#main p{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}

#submit{
  background-color: #14497F;
  border: none;
  color: white;
  font-family: 'Roboto Slab', serif;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 5px;
}
