<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Store</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ubuntu+Mono" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/store.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link rel="icon" href="./img/logo.png">
</head>

<body translate="no">
	<nav class="navbar navbar-expand-md navbar-dark nav-color fixed-top">
		<div class="container">
			<a class="navbar-brand" href="./index.html">
				<img src="./img/strawlogo.svg" width="80px" alt="The Last Straw logo" title="The Last Straw" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="navbar-nav ml-auto text-center">
					<li class="nav-item">
						<a class="nav-link a-nav" href="./about.html">About Us</a>
					</li>
					<li class="">
						<a class="nav-link a-nav" href="./live.html">Live Feed</a>
					</li>
					<li class="">
						<a class="nav-link a-nav active" href="">Store</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="store">
			<div :class="['rela-block', 'page-container']" style="padding-top: 120px">
				<div class="rela-block page-section top-section">
					<div class="gutter-container">
						<div class="rela-block section-nav">
							<h2 class="left">New Item Showcase</h2>
						</div>
						<div class="rela-block new-item-container">
							<div :class="['vert-center', 'move-arrow', 'left-arrow', newItemPos<=0?'disabled':'']" @click="updateNewItemPos(-1)">&lt;</div>
							<div :class="['vert-center', 'move-arrow', 'right-arrow', newItemPos>=(newItems.length-1)?'disabled':'']" @click="updateNewItemPos(1)">&gt;</div>
							<div class="inner-moving-container" :style="{'left': ((newItemPos * -320)+1)+'px'}">
								<div v-for="(ni,index) in newItems" class="rela-inline new-item" :style="{'background': 'url(\''+ni.img+'\') center no-repeat', 'animation-delay': (index*0.1)+'s'}">
									<div class="new-item-info">
										<p class="abs-center">{{ni.name}}
											<br>{{ni.artist}}</p>
									</div>
									<div class="product-view-button" @click="viewProduct(ni.id)">View</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rela-block page-section grey product-section">
					<div class="rela-block gutter-container">
						<div class="rela-block section-nav">
							<h2 class="left">All Products
								<span v-show="currentCatg !== 'All'">/{{currentCatg}}</span>
							</h2>
							<div class="right category-select">
								<div v-for="c in catg" :class="['rela-inline', 'category', currentCatg===c?'active':'']" @click="currentCatg = c; updateFilteredProducts()">{{c}}</div>
							</div>
						</div>
						<div class="rela-block product-item-container">
							<product-comp v-for="(item,index) in displayedProducts" :info="item"></product-comp>
						</div>
						<div v-show="this.displayPos < this.filteredProducts.length" class="rela-block load-button">
							<div class="rela-inline load-button-container" @click="addDisplayedProducts">
								<p>Load More</p>
								<svg viewbox="0 0 50 50" class="button-svg">
									<path />
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<div :class="['product-view-container', productViewOpen?'active':'']" style="padding-top: 120px">
				<div class="rela-block gutter-container">
					<div class="rela-block section-nav">
						<h2 class="left">Product View</h2>
						<div class="rela-inline right close-button" @click="productViewOpen = false">
							<svg viewbox="0 0 30 30" class="button-svg">
								<path d="M 8 8 L 22 22" />
								<path d="M 22 8 L 8 22" />
							</svg>
						</div>
					</div>
					<div class="rela-block pv-container">
						<div class="rela-block pv-pic" :style="{'background': 'url(\''+viewedProduct.img+'\') center no-repeat'}"></div>
					</div>
					<div class="rela-block pv-container">
						<div class="rela-block pv-info">
							<h2 class="rela-block">{{viewedProduct.name}}</h2>
							<h3 class="rela-block">{{viewedProduct.artist}}</h3>
							<div class="rela-block info-row">
								<div class="rela-inline left">Release Date: </div>
								<div class="rela-block text" v-html="viewedProduct.date||'No Release Date'"></div>
							</div>
							<div class="rela-block info-row">
								<div class="rela-inline left">Product Category: </div>
								<div class="rela-block text" v-html="viewedProduct.catg||'No Category'"></div>
							</div>
							<div class="rela-block info-row">
								<div class="rela-inline left">Product Description: </div>
								<div class="rela-block text" v-html="viewedProduct.desc||'No Description'"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
		<script src="./js/store.js"></script>
		
      </footer>
</body>

</html>
