body {
	padding-top: 120px;
	font-family: 'Roboto Slab', serif;
}

#topbar {
	background-color: #6f7784;
}
h1#title {
	font-family: "Slabo", sans-serif;
	word-spacing: 100vw;
}

#statement{
	font-family:"Josephin Sans", sans-serif; 
}

.pagelink {

}

.flexbox {
	display: flex;
}

#toplinks.flexbox {
  flex-direction: row-reverse;
  position: absolute;
  left: 60%;
  
}

#missionbar{
	background-color: #F8F8F8;
	width:
	800px; 
	margin:0 auto;
	padding:20px 0;
}

.container {
	max-width: 1100px;
}

.nav-color{
    /*background: linear-gradient(135deg,#0fb8ad 20%,#1fc8db, #2cb5e8);*/
    background: linear-gradient(135deg, #ffffff 30%,#070564,#1c0469);
}